

body {
        font-family: Arial, sans-serif;
        background-color: #0e010e;
    }
    h1 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(247, 3, 23);  
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="opiniao"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #666;
}